<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<div class="container">
    <div class="row">
        <div class="col-md-10">
<div style="background-color: aquamarine;" *ngIf="resumenPokemon && pokemon" class="pokemon">
    <!-- <a href={{resumenPokemon.url}}>
        <h3>{{pokemon.id}} - {{pokemon.name}}</h3>
        <img src={{pokemon.sprites.front_default}} alt="">
        <img src={{pokemon.sprites.back_default}} alt="">
        <p>Altura: {{pokemon.height}}</p>
        <p>Peso: {{pokemon.weight}}</p>
        <p>Habilidades: {{pokemon.abilities}}</p>
        <p>Orden: {{pokemon.order}}</p>
        <p>Experiencia Base: {{pokemon.base_experience}}</p>
    </a> -->
       
    <div  class="card">
        <div class="card-body">
          <h2 class="card-title">{{pokemon.id}} - {{pokemon.name}}</h2>
          <p class="card-text">Altura: {{pokemon.height}}</p>
          <p class="card-text">Peso: {{pokemon.weight}}</p>
          <p class="card-text">Habilidades: {{pokemon.abilities}}</p>
          <p class="card-text"><small class="text-muted">Orden: {{pokemon.order}}</small></p>
          <p class="card-text"><small class="text-muted">Experiencia Base: {{pokemon.base_experience}}</small></p>
        </div>
        <img src={{pokemon.sprites.front_default}} alt="" class="card-img-bottom" alt="...">
        <img src={{pokemon.sprites.back_default}} alt="" class="card-img-bottom" alt="...">
      </div>
    </div>
</div>
</div>